/* style.css */
body {
    font-family: 'Times New Roman', serif;
    padding: 20px;
    margin: 0;
    background-color: #008000; /* This is a green background */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .logo {
    max-width: 100px; /* Adjust as needed */
    height: auto;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  
  nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #fff; /* Changed to white for contrast */
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items horizontally */
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .description {
    flex: 1; /* Take up half the space */
    margin-right: 20px; /* Add some spacing between text and image */
  }
  
  .image-container {
    flex: 1; /* Take up half the space */
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  button {
    display: block;
    width: 150px;
    margin: 30px auto;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  }
  